* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    margin: 30px;
}

.login {
    padding-bottom: 30px;
}

.bnt {
    font-family: 'Jua', sans-serif;
    color: blueviolet;
    height: 30px;
    width: 65px;
    text-align: center;
    background-color: white;
    border: 2px solid blueviolet;
    border-radius: 11px;
    margin-right: 10px;
}

.bnt:hover {
    color: purple;
    cursor: pointer;
}

.login > span { font-family: 'Jua', sans-serif; }
.login > a {
    float: right;
    text-decoration: none;
    font-family: 'Jua', sans-serif;
    color: blueviolet;
}

.login > a:hover {
    color: purple;
    cursor: pointer;
}

.top {
    font-family: 'Gugi', cursive;
    text-align: center;
    color: blueviolet;
    margin-bottom: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid blueviolet;
    font-weight: bolder;
}

.one_tr > th {
    font-family: 'Gugi', cursive;
    font-size: large;
}

.two_tr > td {
    font-family: 'Jua', sans-serif;
}

table {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 0px;
}

th, td {
    padding: 10px 0px;
    border-bottom: 1px solid rgb(226, 185, 226);
}

.index_title > a {
    text-decoration: none;
    color: black;
}

.index_title > a:hover {
    color: blueviolet;
    text-decoration: underline;
    cursor: pointer;
}


.no {
    font-size: 15px;
    font-family: 'Jua', sans-serif;
    color: blueviolet;
    height: 30px;
    width: 65px;
    text-align: center;
    background-color: white;
    border: 2px solid blueviolet;
    border-radius: 7px;
    margin-right: 10px;
}

.no:hover {
    color: purple;
    cursor: pointer;
}