* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    margin: 30px;
}

.login {
    padding-bottom: 15px;
}

.bnt {
    font-weight: bolder;
    color: #800080;
    height: 30px;
    width: 65px;
    text-align: center;
    background-color: white;
    border: 2px solid #800080;
    border-radius: 11px;
    margin-right: 10px;
}

.bnt:hover 
{
    color: #8a2be2;
    cursor: pointer;
}

.login > a {
    float: right;
    text-decoration: none;
    font-weight: bolder;
    color: #800080;
}

.login > a:hover 
{
    color: #8a2be2;
    cursor: pointer;
}

.top {
    text-align: center;
    color: #800080;
    margin-bottom: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid #800080;
    font-weight: bolder;
}

table {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 0px;
}

th, td {
    padding: 10px 0px;
    border-bottom: 1px solid #c9b1df;
}

.detail > a {
    text-decoration: none;
    color: #000000;
}

.detail > a:hover {
    text-decoration: underline;
    color: #800080;
}

.no {
    font-size: 15px;
    font-weight: bolder;
    color: #800080;
    height: 30px;
    width: 65px;
    text-align: center;
    background-color: white;
    border: 2px solid #800080;
    border-radius: 11px;
    margin-right: 10px;
}

.no:hover 
{
    color: #8a2be2;
    cursor: pointer;
}