* { margin: 0; padding: 0; box-sizing: border-box; }

body {
    margin: 30px;
    display: grid; 
    justify-content: center;
    align-items: center;
}

header a {
<<<<<<< HEAD
    color: #800080;
=======
    color: blueviolet;
>>>>>>> 494b161b3e019842ade8bb26db55c8f7efa64f7d
    text-decoration: none;
    font-family: 'Jua', sans-serif;
}

header a:hover {
<<<<<<< HEAD
    color: #8a2be2;
=======
    color: purple;
>>>>>>> 494b161b3e019842ade8bb26db55c8f7efa64f7d
    cursor: pointer;
}

fieldset {
    border-radius: 8px;
<<<<<<< HEAD
    border-color: #800080;
=======
    border-color: blueviolet;
>>>>>>> 494b161b3e019842ade8bb26db55c8f7efa64f7d
    margin-bottom: 10px;
}

fieldset legend { 
    font-family: 'Gugi', cursive;
    text-align: center; 
<<<<<<< HEAD
    color: #800080;
=======
    color: blueviolet;
>>>>>>> 494b161b3e019842ade8bb26db55c8f7efa64f7d
}

form {  
    margin: 50px;
}

.at {
    color: rgb(173, 173, 173);
    display: inline-block;
    padding-bottom: 12px;
    font-family: 'Jua', sans-serif;
}

.data { 
    font-family: 'Jua', sans-serif;
    padding: 5px;
    margin-bottom: 6px;
    border-color: whitesmoke;
    border-radius: 7px;
    border-width: 3px;
    vertical-align: bottom; 
}

.data > #decide { font-family: 'Jua', sans-serif; }

.join_button {
    padding: 10px;
    width: 200px;
    border: none;
    border-radius: 8px;
<<<<<<< HEAD
    background-color: #800080;
=======
    background-color: blueviolet;
>>>>>>> 494b161b3e019842ade8bb26db55c8f7efa64f7d
    color: white;
    font-size: medium;
    font-family: 'Jua', sans-serif;
    margin: none;
    transform: translate(0, 10%);
}

.join_button:hover {
<<<<<<< HEAD
    background-color: #8a2be2;
=======
    background-color: purple;
>>>>>>> 494b161b3e019842ade8bb26db55c8f7efa64f7d
    cursor: pointer;
}

#check_button {
    font-family: 'Jua', sans-serif;
    padding: 2px;
    margin-bottom: 9px;
    width: auto;
    border: none;
    border-radius: 5px;
<<<<<<< HEAD
    background-color: #800080;
=======
    background-color: blueviolet;
>>>>>>> 494b161b3e019842ade8bb26db55c8f7efa64f7d
    color: white;
    margin: none;
    transform: translate(0, 10%);
}

#check_button:hover {
<<<<<<< HEAD
    background-color: #8a2be2;
=======
    background-color: purple;
>>>>>>> 494b161b3e019842ade8bb26db55c8f7efa64f7d
    cursor: pointer;
}

small { text-align: center; }

small a {
<<<<<<< HEAD
    color: #800080;
=======
    font-family: 'Jua', sans-serif;
    font-size: medium;
    color: blueviolet;
>>>>>>> 494b161b3e019842ade8bb26db55c8f7efa64f7d
    line-height: 33px;
}

/* check.php */

h3 {
<<<<<<< HEAD
    color: #800080;
=======
    color: blueviolet;
>>>>>>> 494b161b3e019842ade8bb26db55c8f7efa64f7d
    text-align: center;
    padding-bottom: 20px;
}

.check {
    text-align: center;
}

.check_nm {
    padding-bottom: 10px;
}

.check_btn {
    padding: 3px;
    margin-bottom: 9px;
    width: auto;
    border: none;
    border-radius: 5px;
<<<<<<< HEAD
    background-color: #800080;
=======
    background-color: blueviolet;
>>>>>>> 494b161b3e019842ade8bb26db55c8f7efa64f7d
    color: white;
    margin: none;
}