* { margin: 0; padding: 0; box-sizing: border-box; }

.container {
    display: grid;
    justify-content: center;
    align-items: center;
}

header {
    margin-top: 30px;
}

header > a {
    font-family: 'Jua', sans-serif;
    color: blueviolet;
    text-decoration: none;
}

fieldset {
    border-radius: 8px;
    border-color: blueviolet;
    margin-bottom: 10px;
}

fieldset legend { 
    font-family: 'Gugi', cursive;
    text-align: center; 
    color: blueviolet;
}

form {  
    margin: 30px 50px;
}

.box {
    font-family: 'Jua', sans-serif;
    border-color: whitesmoke;
    border-radius: 7px;
    width: 181px;
    padding: 5px;
    margin-top: 15px;
}

.button {
    margin: 13px;
    padding: 12px;
    width: 155px;
    border: none;
    border-radius: 8px;
    background-color: blueviolet;
    color: white;
    font-family: 'Jua', sans-serif;
    font-size: medium;
    margin: none;
}

.button:hover {
    background-color: purple;
    color: whitesmoke;
    font-weight: 570;
    cursor: pointer;
}

small > a {
    display: flex;
    justify-content: center;
    color: blueviolet;
    font-family: 'Jua', sans-serif;
    font-size: medium;
}

small > a:hover {
    color: purple;
    cursor: pointer;
}