body {
    display: grid;
    justify-content: center;
}

<<<<<<< HEAD
a {
    color: #800080;
    text-decoration: none;
}

a:hover {
    color: #8a2be2;
=======
.back > a {
    font-family: 'Jua', sans-serif;
    color: blueviolet;
    text-decoration: none;
}

.back > a:hover {
    color: purple;
>>>>>>> 494b161b3e019842ade8bb26db55c8f7efa64f7d
    cursor: pointer;
}

.title {
    height: 40;
    float: center;
    font-family: 'Gugi', cursive;
    font-size: 25px; 
    text-align: center;
<<<<<<< HEAD
    color: #800080;
=======
    color: blueviolet;
>>>>>>> 494b161b3e019842ade8bb26db55c8f7efa64f7d
    margin: 15px 0px;
}

hr {
    width: 600px;
    text-align: left;
}

textarea { resize: none; }

/* write.php */

.w_box {
    border: none;
    font-family: 'Jua', sans-serif;
    font-size: medium;
    width: 550px;
}

.w_box:focus {
    outline: none;
}

.btn {
    float: right;
    padding: 5px;
    width: auto;
<<<<<<< HEAD
    border: none;
    border-radius: 5px;
    background-color: #800080;
    color: white;
    margin: none;
    transform: translate(0, 10%);
}

.btn:hover {
    background-color: #8a2be2;
=======
    border: 2px solid blueviolet;
    border-radius: 7px;
    font-weight: bold;
    color: blueviolet;
    background-color: white;
    margin: 2px; 
    padding: 5px 11px;
    font-family: 'Jua', sans-serif; 
}

.btn:hover {
    text-decoration: underline;
>>>>>>> 494b161b3e019842ade8bb26db55c8f7efa64f7d
    cursor: pointer;
}

/* detail.php */

.d_title{
    font-family: 'Gugi', cursive;
}

.d_box {
    border: none;
    font-family: 'Jua', sans-serif;
    font-size: larger;
    font-weight: bold;
    text-align: center;
}

.d_box_c {
    border: none;
    font-family: 'Jua', sans-serif;
    font-size: medium;
    font-weight: bold;
    width: 550px;
    height: 229px;
}

.d_box:focus, .d_box_c:focus {
    outline: none;
}

.file {
    font-family: 'Jua', sans-serif;
    padding-left: 25px;
}

.file > a {
    color: black;
    text-decoration: none;
}

.file > a:hover {
    color: purple;
    cursor: pointer;
    text-decoration: underline;
}

.dm_btn > .btn { 
    margin: 2px; 
    padding: 5px 10.5px; 
    font-family: 'Jua', sans-serif; 
}
.dm_btn > a > .btn { 
    margin: 2px; 
    padding: 5px 11px;
    font-family: 'Jua', sans-serif; 
}

